name: Release Eum Server

on: 
    push:
        tags:
            - '[0-9]*.[0-9]*.[0-9]**'

jobs:
    test_eum_server:
        uses: ./.github/workflows/eumserver_test.yml

    build_and_release:
      name: Build and release EUM Server
      runs-on: ubuntu-latest
      needs: [test_eum_server]
      steps:
        - name: Checkout code
          uses: actions/checkout@v3
        - name: Grant execute permission for gradlew
          run: chmod +x gradlew
        - name: Build project
          run: ./gradlew assemble bootJar -PbuildVersion=${{ github.ref_name }}
        - name: Create BOM
          run: ./gradlew cyclonedxBom
        - name: Add artifacts
          run: |
            mkdir artifacts
            cp build/libs/*.jar ./artifacts
            cp build/reports/bom.json ./artifacts
            cp build/reports/bom.xml ./artifacts
        # Uploading eumserver jar, for creating docker image in the next step
        - name: Upload eumserver jar      
          uses: actions/upload-artifact@v3
          with:
            name: eumserver-jar
            path: artifacts/inspectit-ocelot-eum-server-${{ github.ref_name }}.jar
        - name: "Build Changelog"
          id: build_changelog
          uses: mikepenz/release-changelog-builder-action@v3.5.0
          with: 
             # Config for the Changelog, reference: https://github.com/marketplace/actions/release-changelog-builder
            configuration: "eumserver-release-config.json"     
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        - name: Create Release
          uses: softprops/action-gh-release@v0.1.15
          with:
            tag_name: ${{ github.ref_name }}
            body: ${{ steps.build_changelog.outputs.changelog }}
            files: artifacts/*
            generate_release_notes: true
            token: ${{ github.token }}
            name: Version ${{ github.ref_name }}     

    publish_docker_image:
      name: "Publish docker image"
      runs-on: ubuntu-latest
      needs: [build_and_release]
      steps:
        - name: Checkout
          uses: actions/checkout@v3
        - name: Download eumserver jar
          uses: actions/download-artifact@v3
          with: 
            name: eumserver-jar
            path: docker/
        - name: Check if jar exists and rename it
          run: |
            cd docker
            mv inspectit-ocelot-eum-server-${{ github.ref_name }}.jar inspectit-ocelot-eum-server.jar
            ls
        - name: Set up QEMU
          uses: docker/setup-qemu-action@v2
        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v2
        - name: Login to Docker Hub
          uses: docker/login-action@v2
          with:
            username: ${{ secrets.DOCKER_HUB_USER }}
            password: ${{ secrets.DOCKER_HUB_PASSWORD }}
        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v2
        - name: Build and push image
          uses: docker/build-push-action@v3
          with:
            context: .
            push: true
            tags: danipaniii/testing:${{ github.ref_name }}, danipaniii/testing:latest
            file: ./docker/Dockerfile